@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Muli", sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2B88F0;
	height: 100vh;
}

#main{
	display: flex;
	flex-direction: column;
	max-width: 30vw;
}

#main div{
	text-align: center;
}

.choices{
	display: flex;
	margin: 0.5em 0;
	flex-wrap: wrap;
}

.choice{
	padding: 0.75em;
	margin: 0.5em 0.25em 0 0;
	background-color: #F0932B;
	border-radius: 40%;
}

.active{
	background-color: #273C75;
}

textarea{
	padding: 0.5em;
	margin: 1em 0 0 0;
	border: 0;
	outline: 0;
	color: black;
	font-size: 1em;
}

textarea:focus{
	border: 1px solid #F0932B;
}