@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Muli, sans-serif;
}


body{
	background-color: #3B3B98;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

button{
	cursor: pointer;
}

#main{
	display: flex;
	color: white;
	flex-direction: column;
	background-color: #23235B;
	padding: 1em 2em;
	box-shadow: #ffffff 0px 0px 4px;
}

#main > * {
	margin: 0.5em 0;
	width: 100%;
}

.param{
	display: flex;
	justify-content: space-between;
}

.password{
	padding: 0.25em;
	background-color: #151537;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.generatedPassword{
	padding: 0.5em;
}

.copyPassword{
	background-color: #3B3B98;
	border: 0;
	color: white;
	font-size: 1.5em;
	padding: 0.5em;
}

.generate-btn{
	background-color: #3B3B98;
	border: 0;
	padding: 0.5em;
	color: white;
	margin-top: 2em !important;
	font-size: 1em;
}